@charset "UTF-8";

@font-face {
    font-family: "Asdruel Fuente";
    src: url("fuentes/Asdruel.ttf");
}

* {
    margin: 10px;
    /* Ajusta el valor según tus necesidades */
    font-family: "Asdruel Fuente";
}

#cabeza {
    background-color: red;
    display: inline-block;
    padding: 20px;
}

#prueba {

    justify-content: center;
}

#pie {
    background-color: coral;
    text-align: center;
}

nav {
    background-color: aqua;
}

li {
    background-color: rgb(6, 91, 114);
    cursor: pointer;
    display: flex;
    justify-content: flex-start; /* Alinea los elementos hacia la izquierda */
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 10px; /* Elimina el padding predeterminado */
}

aside {
    background-color: azure;
}

section {
    background-color: bisque;
    flex-grow: 1;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

#pdf-viewer {

    width: 100%;
    height: 1000px;

}

#idprincipal div{

    display:flex

}

#idprincipal {

    background-color: blue;
    display: none;

}

/*----------------------------------------------------------------------------------------------*/

/* Asegúrate de que el body ocupe toda la altura de la ventana */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo oscuro para toda la página */
    color: black; /* Texto claro */
}

#idlogueo h1{

    font-size: 80px; /* Ajusta el tamaño según tus necesidades */
    font-weight: bold; /
}

/* Contenedor principal */
#idinicio {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    color: white;
}

/* Estilos para el formulario */
#idlogueo {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    gap: 0px; /* Espacio entre los elementos */
    padding: 30px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #1e1e1e; /* Fondo oscuro del formulario */
}

/* Estilos para los inputs y el botón */
#idlogueo input, #idlogueo button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #333; /* Fondo oscuro de los inputs */
    color: #e0e0e0; /* Texto claro en los inputs */
}

#idlogueo button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

#idlogueo button:hover {
    background-color: #0056b3;
}
